*{
    background-color:lavender;
}

.menu{
    background-color: lightgrey ;
    width: 100%;
    height: 70px;

    position: fixed;
    position: relative;

}

.menu_top_left{

    background-color: darkgray ;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 20px;

    position: absolute;
    top: -15px;
    right: 200px;
}

.menu_top_middle{
    background-color:darkgrey;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 20px;

    position: absolute;
    top: -15px;
    right: 100px;
}

.menu_top_right{

    background-color: darkgray ;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 20px;

    position: absolute;
    top: -15px;
    right: 0px;
}

.head{
    font-size: 30px;
    background-color:plum;
    width: 200px;
    height: 50px;
    margin-left: 10%;
    padding-top:20px; 

    text-align: center;
    position: fixed;
    top: 9px;
}

.aboutbox{
    background-color: blueviolet;
    margin: 30px;
    padding: 30px;
    height: 90%;
    width: 90%;
}

.parragraph{
    background-color: blueviolet;
    font-size: 20px;
}

.h1{
    background-color: blueviolet;
    font-size: 40px;
}

.image{
    background-color: blueviolet;
    size: 3%;
}